.button.outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background: transparent;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000A1F;
    border: 1px solid #00C77A;
    cursor: pointer;
    &:hover {
        background: linear-gradient(90deg, #00DC55 0%, #00C77A 100%);
        border: 1px solid #00C77A;
        color: #FFFFFF;

    }
    &:active {
        background: transparent;
        color: #000A1F;
    }
    &:focus {
        outline: none;
    }
}

.button.filled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background: linear-gradient(90deg, #00DC55 0%, #00C77A 100%);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000A1F;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
        background: transparent;
        border: 1px solid #00C77A;

    }
    &:active {
        background: linear-gradient(90deg, #00DC55 0%, #00C77A 100%);
    }
    &:focus {
        outline: none;
    }
}
